<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Bootstrap -->
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8f02447683.js" crossorigin="anonymous"></script>
    
    <!-- CSS personnalisé pas besoin de code car l'app sait où cheercher le css -->

    <title>TheGossipProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-turbo="false">
    <!--Header contain only my navbar-->
    <header class="nav-color fw-light lh-base">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <%= link_to "The Gossip Project", root_path, class:"navbar-brand"%>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to "Home", root_path, class:"nav-link active"%>
              </li>
              <li class="nav-item">
                <%= link_to "New Gossip", new_gossip_path, class:"nav-link"%>
              </li>
              <li class="nav-item">
                <%= link_to "Connexion", root_path, class:"nav-link"%>
              </li>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">More infos</a>
              <ul class="dropdown-menu">
                <li><%= link_to "Team", team_path, class:"dropdown-item"%></li>
                <li><%= link_to "Contact", contact_path, class:"dropdown-item"%></li>
              </ul>
            </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    <!-- Code HTML pour afficher les messages flash -->
    <div class="custom-alerts">
      <% if flash[:success].present? %>
        <div class="alert alert-success custom_alert" role="alert">
          <%= flash[:success] %>
        </div>
      <% elsif flash[:alert].present? %>
        <div class="alert alert-danger custom_alert" role="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>


    <!--Yield is all my page content-->
    <%= yield %>


  </body>
</html>
